{% extends "base.html" %}
{% block title %}Short URL{% endblock %}


{% block content %}

        
    
<!--<h1 id="short-url" style="font-size: 18px; text-align: center; margin-bottom: 10px;">http://127.0.0.1:5000/{{short_url_display}}</h1>-->
<div style="display: flex; justify-content: center;">
    <form id="copy-form" style="text-align: center;">
        <input type="text" id="url-input" value="http://127.0.0.1:5000/{{short_url_display}}" readonly style="width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;"><br><br>
        <button type="button" id="copy-button" style="background-color: #007bff; color: #fff; border: none; border-radius: 5px; padding: 5px 10px; cursor: pointer; font-size: 16px;">Copy</button><br><br>
    </form><br><br>
    
</div>

<div style="text-align: center; padding: 20px;">
    <h2 style="color: #333;">Expand Shortened URL:</h2>
    <form method="POST" action="/expand" style="margin-top: 10px;">
        <input type="text" name="short_url" placeholder="Enter Shortened URL" style="padding: 10px; width: 300px; border: 1px solid #ccc; border-radius: 5px;">
        <input type="submit" value="Expand" style="background-color: #007BFF; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
    </form>
</div>




<script>
    // Function to copy the URL to the clipboard
    function copyURLToClipboard() {
        var urlInput = document.getElementById("url-input");
        urlInput.select();
        document.execCommand("copy");
    }

    // Add an event listener to the copy button
    var copyButton = document.getElementById("copy-button");
    copyButton.addEventListener("click", copyURLToClipboard);

</script>
<a href="http://127.0.0.1:5000/" style="text-decoration: none; color: #007bff; font-size: 16px;">BACK TO HOME</a>


    
    
{% endblock %}